# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/big-cash-upwork/node_modules
/big-cash-upwork/.pnp
.pnp.js

# testing
/coverage

# misc
/big-cash-upwork/.DS_Store
/big-cash-upwork/.env.local
/big-cash-upwork/.env.development.local
/big-cash-upwork/.env.test.local
/big-cash-upwork/.env.production.local

/big-cash-upwork/npm-debug.log*
/big-cash-upwork/yarn-debug.log*
/big-cash-upwork/yarn-error.log*

.DS_Store